<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add a new Post</h4>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form>
      <div class="form-group">
        <label class="font-weight-bold">Post Title</label>
        <input class="form-control form-inline" [(ngModel)]="newPost.title" name="title" placeholder="Post Title">
      </div>
      <div class="form-group">
        <label for="description" class="font-weight-bold">Post Description</label>
        <textarea rows="6" [(ngModel)]="newPost.description" class="form-control" id="description" name="description"
          placeholder="Post Description"></textarea>
      </div>
      <div class="form-group justify-content-*-center">
        <button class="btn btn-primary" (click)="addPost()">Create Post</button>

      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Manage Posts</h4>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form>
      <table id="postTable" class="table table-responsive table-bordered table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of posts">
            <td>{{post.title}}</td>
            <td>{{post.description}}</td>
            <td>
              <button title="update post!" routerLinkActive="active" routerLink="/updatepost/{{post._id}}"
                class="btn-warning">u</button>
              <button title="delete post!" class="btn-danger" (click)="deletePost(post._id)">x</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </tfoot>
      </table>
    </form>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('#postTable').DataTable();
    $('.dataTables_length').addClass('bs-select');
  });
</script>