<style>
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
</style>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">CobraSoft - Custom & Innovative Software</h4>
        <h6 class="card-subtitle mb-2 text-muted">Welcome to the World</h6>
        <p class="card-text">
          Please take a look around and let us know what you think!
        </p>
      </div>
    </div>
  </div>
</div>
<div id="demo" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/Hattiesburg_Flags.jpg" alt="Hattiesburg" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="assets/images/Atlanta-GA-1024x683.jpg" alt="Atlanta" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="assets/images/Echo_Park_Lake_with_Downtown_Los_Angeles_Skyline.jpg" alt="New York" width="1100"
        height="500">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>