<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Update Post</h4>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="font-weight-bold">Post Title</label>
        <input class="form-control form-inline"  name="title" [(ngModel)]="model.title" placeholder="Post Title">
      </div>
      <div class="form-group">
        <label for="description" class="font-weight-bold">Post Description</label>
        <textarea rows="6"  class="form-control" id="description" [(ngModel)]="model.description" name="description"
          placeholder="Post Description"></textarea>
      </div>
      <div class="form-group justify-content-*-center">
        <button class="btn btn-primary">Update Post</button>

      </div>
    </form>
  </div>
</div>